

<main role="main" class="container">
  <h1 class="mt-5">Welcome <i class="far fa-smile"></i> <%= user %></h1>
  <p class="lead">This site is developed for Authentication Purposes</p>
  <p>
    <a href="/users/logout">LogOut</a>
  </p>

<hr style="margin: 60px auto; opacity: .5;">


        <p>
         <h5><center>WELCOME TO HERO VIRED </center></h5>
         <button type="button" class="btn btn-danger" style="    margin-top: -7px;
         width: 106px;
         margin-right: -4px;     --bs-btn-hover-bg: #ff0019;"> <a href="/users/logout"><i class="bi bi-box-arrow-left"></i>Logout</a></button>
      </p>
</main>


