<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <%
        if(fetchData.length!=0){
        var i=1;
        fetchData.forEach(function(data){
        %>
        
            
            <h1><%=data.full_name %></h1>
            
     
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    <p>Welcome to <%= title %></p>
  </body>
</html>
