

<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
   
    
table, td, th {  
 border: 1px solid #ddd;
 text-align: left;
}
table{
 border-collapse: collapse;
 width: 50%;
}
.table-data{
  overflow-x:auto;
  overflow-y: auto;
  height: 700px;
}
.table-data thead th {
      position: sticky;
      top: 0;
      background-color: aqua;
    }
th, td {
  padding: 15px;
}
 </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
</head>
<body>
  
  <h3>Today's Collection -> <%=app%></h3>
  
       
        



</body>
</html>